{{#each address}}
<div  class="card">
<h1>{{this.id}}ª pesquisa</h1>
<h1>Cep: {{this.cep}}</h1>
<h1>Cidade: {{this.cidade}}</h1>
<h1>Rua: {{this.rua}}</h1>
<h1>Bairro: {{this.bairro}}</h1>
</div>
{{/each}}